* {
  margin: 0;
  padding: 0;
}
body {
  background: #292929;
  min-height: 1000px;
}

.simple {
  margin-top: 60px;
  margin-left: 30px;
  color: #ffffff;
  border: 1px solid #ffffff;
  width: 1000px;
  height: 240px;
  text-align: left;
  border-collapse: collapse;
  border-style: hidden;
  box-shadow: 0 0 0 1px #ffffff;
  border-radius: 8px;
}
td {
  width: 33%;
}
.simple th {
  font-weight: 700;
}
.simple tr {
  border: 1px solid #ffffff;
}
.left {
  padding-left: 10px;
}
.gray {
  color: #808080;
}
.white {
  color: #ffffff;
}
.simple i.gray,
i.white {
  display: flex;
  justify-content: flex-end;
  padding-right: 20px;
}

.simple input {
  margin-right: 10px;
}
.search {
  display: flex;
  justify-content: flex-end;
  height: 70%;
}
.search input {
  border: none;

  padding: 0 40px;
  background: url(../img/search.svg) no-repeat #707070;

  background-position: 15px 50%;
  border-radius: 8px;
  background-size: 15px;
  outline: none;
}
.search input::placeholder {
  color: #ffffff;
  font-weight: bold;
}
