* {
  margin: 0 auto;
}
table {
  table-layout: fixed;
  margin-top: 20px;
  border-collapse: collapse;
  border: 3px solid orange;
  margin-bottom: 20px;
}
table th {
  font-size: 20px;
  letter-spacing: 2px;
  padding: 10px;
  text-align: center;
  border: 1px solid #000000;
}

table tr {
  border: 1px solid #000000;
}
.forms {
  min-height: 400px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  text-align: center;
}

.forms .gender {
  margin-bottom: 0;
  width: 150px;
  display: flex;
  justify-content: center;
  align-items: center;
}
.language {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
}
.language p {
  margin-bottom: 10px;
  width: 100%;
}
.language span {
  margin: 0;
  margin-right: 15px;
}
.language input {
  margin: 0;
  margin-right: 5px;
}
