@font-face {
  font-family: "Avenir";
  src: url("Avenir-Roman.eot");
  src: local("Avenir Roman"), local("Avenir-Roman"),
    url("Avenir-Roman.eot?#iefix") format("embedded-opentype"),
    url("Avenir-Roman.woff2") format("woff2"),
    url("Avenir-Roman.woff") format("woff"),
    url("Avenir-Roman.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: "Avenir";
  src: url("Avenir-Light.eot");
  src: local("Avenir Light"), local("Avenir-Light"),
    url("Avenir-Light.eot?#iefix") format("embedded-opentype"),
    url("Avenir-Light.woff2") format("woff2"),
    url("Avenir-Light.woff") format("woff"),
    url("Avenir-Light.ttf") format("truetype");
  font-weight: 300;
  font-style: normal;
}

@font-face {
  font-family: "Avenir Book";
  src: url("Avenir-BookOblique.eot");
  src: local("Avenir Book Oblique"), local("Avenir-BookOblique"),
    url("Avenir-BookOblique.eot?#iefix") format("embedded-opentype"),
    url("Avenir-BookOblique.woff2") format("woff2"),
    url("Avenir-BookOblique.woff") format("woff"),
    url("Avenir-BookOblique.ttf") format("truetype");
  font-weight: normal;
  font-style: italic;
}

@font-face {
  font-family: "Avenir Black Oblique";
  src: url("Avenir-BlackOblique.eot");
  src: local("Avenir Black Oblique"), local("Avenir-BlackOblique"),
    url("Avenir-BlackOblique.eot?#iefix") format("embedded-opentype"),
    url("Avenir-BlackOblique.woff2") format("woff2"),
    url("Avenir-BlackOblique.woff") format("woff"),
    url("Avenir-BlackOblique.ttf") format("truetype");
  font-weight: 900;
  font-style: italic;
}

@font-face {
  font-family: "Avenir";
  src: url("Avenir-Heavy.eot");
  src: local("Avenir Heavy"), local("Avenir-Heavy"),
    url("Avenir-Heavy.eot?#iefix") format("embedded-opentype"),
    url("Avenir-Heavy.woff2") format("woff2"),
    url("Avenir-Heavy.woff") format("woff"),
    url("Avenir-Heavy.ttf") format("truetype");
  font-weight: 900;
  font-style: normal;
}

@font-face {
  font-family: "Avenir";
  src: url("Avenir-HeavyOblique.eot");
  src: local("Avenir Heavy Oblique"), local("Avenir-HeavyOblique"),
    url("Avenir-HeavyOblique.eot?#iefix") format("embedded-opentype"),
    url("Avenir-HeavyOblique.woff2") format("woff2"),
    url("Avenir-HeavyOblique.woff") format("woff"),
    url("Avenir-HeavyOblique.ttf") format("truetype");
  font-weight: 900;
  font-style: italic;
}

@font-face {
  font-family: "Avenir";
  src: url("Avenir-MediumOblique.eot");
  src: local("Avenir Medium Oblique"), local("Avenir-MediumOblique"),
    url("Avenir-MediumOblique.eot?#iefix") format("embedded-opentype"),
    url("Avenir-MediumOblique.woff2") format("woff2"),
    url("Avenir-MediumOblique.woff") format("woff"),
    url("Avenir-MediumOblique.ttf") format("truetype");
  font-weight: 500;
  font-style: italic;
}

@font-face {
  font-family: "Avenir";
  src: url("Avenir-LightOblique.eot");
  src: local("Avenir Light Oblique"), local("Avenir-LightOblique"),
    url("Avenir-LightOblique.eot?#iefix") format("embedded-opentype"),
    url("Avenir-LightOblique.woff2") format("woff2"),
    url("Avenir-LightOblique.woff") format("woff"),
    url("Avenir-LightOblique.ttf") format("truetype");
  font-weight: 300;
  font-style: italic;
}

@font-face {
  font-family: "Avenir Book";
  src: url("Avenir-Book.eot");
  src: local("Avenir Book"), local("Avenir-Book"),
    url("Avenir-Book.eot?#iefix") format("embedded-opentype"),
    url("Avenir-Book.woff2") format("woff2"),
    url("Avenir-Book.woff") format("woff"),
    url("Avenir-Book.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: "Avenir";
  src: url("Avenir-Black.eot");
  src: local("Avenir Black"), local("Avenir-Black"),
    url("Avenir-Black.eot?#iefix") format("embedded-opentype"),
    url("Avenir-Black.woff2") format("woff2"),
    url("Avenir-Black.woff") format("woff"),
    url("Avenir-Black.ttf") format("truetype");
  font-weight: 900;
  font-style: normal;
}

@font-face {
  font-family: "Avenir";
  src: url("Avenir-Oblique.eot");
  src: local("Avenir Oblique"), local("Avenir-Oblique"),
    url("Avenir-Oblique.eot?#iefix") format("embedded-opentype"),
    url("Avenir-Oblique.woff2") format("woff2"),
    url("Avenir-Oblique.woff") format("woff"),
    url("Avenir-Oblique.ttf") format("truetype");
  font-weight: normal;
  font-style: italic;
}

@font-face {
  font-family: "Avenir";
  src: url("Avenir-Medium.eot");
  src: local("Avenir Medium"), local("Avenir-Medium"),
    url("Avenir-Medium.eot?#iefix") format("embedded-opentype"),
    url("Avenir-Medium.woff2") format("woff2"),
    url("Avenir-Medium.woff") format("woff"),
    url("Avenir-Medium.ttf") format("truetype");
  font-weight: 500;
  font-style: normal;
}

/* This stylesheet generated by Transfonter (https://transfonter.org) on August 21, 2017 1:40 PM */

@font-face {
  font-family: "HelveticaNeueCyr";
  src: url("HelveticaNeueCyr-Medium.eot");
  src: local("HelveticaNeueCyr-Medium"),
    url("HelveticaNeueCyr-Medium.eot?#iefix") format("embedded-opentype"),
    url("HelveticaNeueCyr-Medium.woff") format("woff"),
    url("HelveticaNeueCyr-Medium.ttf") format("truetype");
  font-weight: 500;
  font-style: normal;
}

@font-face {
  font-family: "HelveticaNeueCyr";
  src: url("HelveticaNeueCyr-Heavy.eot");
  src: local("HelveticaNeueCyr-Heavy"),
    url("HelveticaNeueCyr-Heavy.eot?#iefix") format("embedded-opentype"),
    url("HelveticaNeueCyr-Heavy.woff") format("woff"),
    url("HelveticaNeueCyr-Heavy.ttf") format("truetype");
  font-weight: 900;
  font-style: normal;
}

@font-face {
  font-family: "HelveticaNeueCyr";
  src: url("HelveticaNeueCyr-HeavyItalic.eot");
  src: local("HelveticaNeueCyr-HeavyItalic"),
    url("HelveticaNeueCyr-HeavyItalic.eot?#iefix") format("embedded-opentype"),
    url("HelveticaNeueCyr-HeavyItalic.woff") format("woff"),
    url("HelveticaNeueCyr-HeavyItalic.ttf") format("truetype");
  font-weight: 900;
  font-style: italic;
}

@font-face {
  font-family: "HelveticaNeueCyr";
  src: url("HelveticaNeueCyr-Black.eot");
  src: local("HelveticaNeueCyr-Black"),
    url("HelveticaNeueCyr-Black.eot?#iefix") format("embedded-opentype"),
    url("HelveticaNeueCyr-Black.woff") format("woff"),
    url("HelveticaNeueCyr-Black.ttf") format("truetype");
  font-weight: 900;
  font-style: normal;
}

@font-face {
  font-family: "HelveticaNeueCyr";
  src: url("HelveticaNeueCyr-UltraLightItalic.eot");
  src: local("HelveticaNeueCyr-UltraLightItalic"),
    url("HelveticaNeueCyr-UltraLightItalic.eot?#iefix")
      format("embedded-opentype"),
    url("HelveticaNeueCyr-UltraLightItalic.woff") format("woff"),
    url("HelveticaNeueCyr-UltraLightItalic.ttf") format("truetype");
  font-weight: 200;
  font-style: italic;
}

@font-face {
  font-family: "HelveticaNeueCyr";
  src: url("HelveticaNeueCyr-BlackItalic.eot");
  src: local("HelveticaNeueCyr-BlackItalic"),
    url("HelveticaNeueCyr-BlackItalic.eot?#iefix") format("embedded-opentype"),
    url("HelveticaNeueCyr-BlackItalic.woff") format("woff"),
    url("HelveticaNeueCyr-BlackItalic.ttf") format("truetype");
  font-weight: 900;
  font-style: italic;
}

@font-face {
  font-family: "HelveticaNeueCyr";
  src: url("HelveticaNeueCyr-ThinItalic.eot");
  src: local("HelveticaNeueCyr-ThinItalic"),
    url("HelveticaNeueCyr-ThinItalic.eot?#iefix") format("embedded-opentype"),
    url("HelveticaNeueCyr-ThinItalic.woff") format("woff"),
    url("HelveticaNeueCyr-ThinItalic.ttf") format("truetype");
  font-weight: 100;
  font-style: italic;
}

@font-face {
  font-family: "HelveticaNeueCyr";
  src: url("HelveticaNeueCyr-MediumItalic.eot");
  src: local("HelveticaNeueCyr-MediumItalic"),
    url("HelveticaNeueCyr-MediumItalic.eot?#iefix") format("embedded-opentype"),
    url("HelveticaNeueCyr-MediumItalic.woff") format("woff"),
    url("HelveticaNeueCyr-MediumItalic.ttf") format("truetype");
  font-weight: 500;
  font-style: italic;
}

@font-face {
  font-family: "HelveticaNeueCyr";
  src: url("HelveticaNeueCyr-LightItalic.eot");
  src: local("HelveticaNeueCyr-LightItalic"),
    url("HelveticaNeueCyr-LightItalic.eot?#iefix") format("embedded-opentype"),
    url("HelveticaNeueCyr-LightItalic.woff") format("woff"),
    url("HelveticaNeueCyr-LightItalic.ttf") format("truetype");
  font-weight: 300;
  font-style: italic;
}

@font-face {
  font-family: "HelveticaNeueCyr";
  src: url("HelveticaNeueCyr-UltraLight.eot");
  src: local("HelveticaNeueCyr-UltraLight"),
    url("HelveticaNeueCyr-UltraLight.eot?#iefix") format("embedded-opentype"),
    url("HelveticaNeueCyr-UltraLight.woff") format("woff"),
    url("HelveticaNeueCyr-UltraLight.ttf") format("truetype");
  font-weight: 200;
  font-style: normal;
}

@font-face {
  font-family: "HelveticaNeueCyr";
  src: url("HelveticaNeueCyr-BoldItalic.eot");
  src: local("HelveticaNeueCyr-BoldItalic"),
    url("HelveticaNeueCyr-BoldItalic.eot?#iefix") format("embedded-opentype"),
    url("HelveticaNeueCyr-BoldItalic.woff") format("woff"),
    url("HelveticaNeueCyr-BoldItalic.ttf") format("truetype");
  font-weight: bold;
  font-style: italic;
}

@font-face {
  font-family: "HelveticaNeueCyr";
  src: url("HelveticaNeueCyr-Italic.eot");
  src: local("HelveticaNeueCyr-Italic"),
    url("HelveticaNeueCyr-Italic.eot?#iefix") format("embedded-opentype"),
    url("HelveticaNeueCyr-Italic.woff") format("woff"),
    url("HelveticaNeueCyr-Italic.ttf") format("truetype");
  font-weight: 500;
  font-style: italic;
}

@font-face {
  font-family: "HelveticaNeueCyr";
  src: url("HelveticaNeueCyr-Roman.eot");
  src: local("HelveticaNeueCyr-Roman"),
    url("HelveticaNeueCyr-Roman.eot?#iefix") format("embedded-opentype"),
    url("HelveticaNeueCyr-Roman.woff") format("woff"),
    url("HelveticaNeueCyr-Roman.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: "HelveticaNeueCyr";
  src: url("HelveticaNeueCyr-Bold.eot");
  src: local("HelveticaNeueCyr-Bold"),
    url("HelveticaNeueCyr-Bold.eot?#iefix") format("embedded-opentype"),
    url("HelveticaNeueCyr-Bold.woff") format("woff"),
    url("HelveticaNeueCyr-Bold.ttf") format("truetype");
  font-weight: bold;
  font-style: normal;
}

@font-face {
  font-family: "HelveticaNeueCyr";
  src: url("HelveticaNeueCyr-Light.eot");
  src: local("HelveticaNeueCyr-Light"),
    url("HelveticaNeueCyr-Light.eot?#iefix") format("embedded-opentype"),
    url("HelveticaNeueCyr-Light.woff") format("woff"),
    url("HelveticaNeueCyr-Light.ttf") format("truetype");
  font-weight: 300;
  font-style: normal;
}

@font-face {
  font-family: "HelveticaNeueCyr";
  src: url("HelveticaNeueCyr-Thin.eot");
  src: local("HelveticaNeueCyr-Thin"),
    url("HelveticaNeueCyr-Thin.eot?#iefix") format("embedded-opentype"),
    url("HelveticaNeueCyr-Thin.woff") format("woff"),
    url("HelveticaNeueCyr-Thin.ttf") format("truetype");
  font-weight: 100;
  font-style: normal;
}
