.buttons__circle-btn {
  width: 36px;
  height: 36px;
  border-radius: 100%;
  outline: none;
  border: none;
  background: #ff3e1d;
  cursor: pointer;
}
.buttons__circle-btn-big {
  width: 48px;
  height: 48px;
  background: #00d200;
}
